{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign entry_year = post.date | date: "%Y" %}
{% if post.collection == "publications" %}
  {% capture entry_venue %}{% include pub-venue.html venue=post.venue %}{% endcapture %}
  {% assign entry_venue = entry_venue | strip %}
{% else %}
  {% assign entry_venue = post.venue %}
{% endif %}

<li class="cv-entry" itemscope itemtype="http://schema.org/CreativeWork">
  <p class="cv-entry__title" itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  </p>

  <p class="cv-entry__meta">
    {% if post.type %}<span class="cv-entry__type">{{ post.type }}</span>{% endif %}
    {% if entry_venue != "" %}<span class="cv-entry__venue">{{ entry_venue }}</span>{% endif %}
    {% if post.date %}<span class="cv-entry__date">{{ entry_year }}</span>{% endif %}
  </p>

  {% if post.citation %}
    <p class="cv-entry__note">{{ post.citation }}</p>
  {% endif %}
</li>
